/* ----- Website Colors ----- */
/* Referencing them was a hassle, but I wanted to save the palette somewhere. */
:root {
    --red:    #c4190d;
    --orange: #f48c0a;
    --yellow: #eddb6b;
    --green1: #bac27b;
    --green2: #a1a040;
    --blue:   #499ab4;
    --purple: #b68082;
}

/* ----- Universal Styles ----- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 0.85em;
    margin:  0;
    padding: 0;
}

/* ----- Sidebar Styles ----- */
.sidebar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
} 

.sidebar img { 
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.sidebar h1 {
    font-family: 'Brutal Type', sans-serif;
    font-weight: bold;
}

.sidebar h2 {
    font-size: 1em;
    font-style: italic;
    padding-bottom: 10% ;
    background: linear-gradient(to right,#c4190d,#f48c0a,#a1a040,#499ab4,#b68082);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sidebar ul{
    list-style-type: none ;
    padding-left:5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 100%;
    display: block;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a li{
    background-color: rgb(244, 244, 244);
    color: black;
    margin-right:  5%;
    margin-bottom: 2%;
    padding: 5% 5%;
    border-radius: 2px ;

}
.sidebar a li:hover{
    background-color: rgb(65,65,65) ;
    color: white;
}

.sidebar table{
    margin: auto;
    width: 75%;
}

.sidebar table a {
    color: rgb(134, 134, 134);
    font-size: 2em;
    margin: 0 10px;
    border-radius: 3px;
}

.sidebar table a:hover {
    background-color: rgb(65,65,65) ;
    color: #a1a040;
    font-size: 2em;
    margin: 0 10px;
    border-radius: 3px;
}

/* ----- Main Page Styles ----- */
.main {
    margin-left: 20%;
}

/* Index Slide Styles */

.main .slides {
    position: relative;
}

.main .slides .description:hover {
    font-style:oblique;
}

.main .slides .description{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: white;
}

.main .slides .description h1 {
    font-size: 2.5em;
    color: white;
}

.main .slides .description p {
    font-size: 1.5em;
}

/* General Main Styles */

.main a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin:  0 -0.15rem;
    padding: 0 0.15rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}

.main a:hover {
    box-shadow: inset 500px 0 0 0 #54b3d6;
    color: white;
}

.main ul {
    padding-left: 5%;   
}

.main img {
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.main h1 {
    font-family: 'Brutal Type', sans-serif;
    margin-left: 5%;
    margin-top: 5%;
    color:#6a6a6a ;
}

.main p {
    margin-left: 5%;
    font-size: 1.1em;
}

.main iframe {
    margin-left: 5%;
    width: 90%;
    height: 750px;
    border-radius: 5px;
    border-style: none;
    border-color: #e3e3e3;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottom {
    font-size: 1em ;
    margin-top: 1%;
    margin-right: 4%;
    padding-bottom: 15px ;
    text-align: right ;
}

.about {
    display: inline-block;
}

.about img{
    width: 50%;
    float: left;
}

.about .about-description{
    float: left;
    width: 40%;
    padding-left: 1.5%;
    padding-top: 5%;
    font-size: 1.15em;
    text-align: justify;
}

/* Small Phones */
@media only screen and (max-width: 576px) {
    .sidebar {
        box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
        width: 100%;
        position: static;
        padding-top: 5%;
    } 
    
    .sidebar img { 
        width: 25%;
        margin-top: 0%;
    }
    
    .sidebar h2 {
        font-size: 1.4em;
        padding-bottom: 2.5%;
    }
    
    .sidebar a {
        font-size: 1.2em;
    }
    
    .sidebar ul{
        margin-bottom: 5%;
    }

    .sidebar table{
        width: 50%;
        padding-bottom: 5%;
    }
    
    .sidebar table a {
        color: rgb(134, 134, 134);
        font-size: 3em;
    }
    
    .sidebar table a:hover {
        font-size: 3em;
    }

    .main {
        margin-left: 0%;
        margin-right: 5%;
        text-wrap: pretty;
    }

    .main iframe {
        width: 100%;
        height: 750px;
    }

    .bottom {
        text-align: center ;
    }

    .about {
        display: block
    }
    
    .about img{
        width: 95%;
        margin-left: 5%;
        float: none;
    }
    
    .about .about-description{
        float: none;
        width: 100%;
        padding-left: 1.5%;
        padding-top: 5%;
        font-size: 1.15em;
        text-align: justify;
    }
}

/* Large Phones */
@media only screen and (min-width: 576px) {...}

/* Tablets */
@media only screen and (min-width: 768px) {...}

/* Laptops */
@media only screen and (min-width: 992px) {...}

/* Desktops */
@media only screen and (min-width: 1200px) {...}
