* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000000;
    background-color: #ffffff;
    
    font-family: Roboto ;
    font-size: 13px ;
    margin: 0 ;
    padding: 0 ;
}

body.font-serif {
    font-family: Georgia , serif ;
}
body.font-monospace {
    font-family: monospace;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main {
    padding: 30px 20px;
}

.permalink-page .main {
    padding: 50px 40px;
}

.posts-container {
    margin-left: 260px;
}

.permalink-page .posts-container {
    padding: 0;
    background-color: #ffffff;
    width: 1000px;
    
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.12);
    
    display: flex;
    flex-flow: row wrap;
}

#posts {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

a, a:hover {
    text-decoration: none;
}

.blog-title {
    font-family: 'Brutal Type', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar {
    box-shadow: 5px 0px 5px rgb(197, 197, 197);
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.sidebar-photo {
    margin-top: 20px ;
    border-radius: 0px;
    border: 0px solid #ffffff;
}

.avatar-container {
    margin-bottom: 0;
    padding: 0px 0;
    background-color: rgba(255,255,255,0.07);
}
.blog-description {
    font-size: 1em;
    margin-bottom: 20px ;
    padding: 0px;
}
.blog-description a, .blog-description a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.sidebar-links {
    list-style-type: none;
}
.sidebar-link {
    color: #000000;
    font-size: 1em;
}
.sidebar-link li {
    background-color: rgb(244, 244, 244);
    margin-bottom: 5px;
    margin-left: 20px ;
    margin-right: 20px ;
    padding: 20px 20px;
    border-radius: 2px ;

}
.sidebar-link:hover li {
    background-color: rgb(65,65,65) ;
    color: rgb(109,198,97) ;
}
.blog-title {
    font-family: 'Brutal Type', sans-serif;
    font-weight: bold;
}
.social-buttons {
    position: fixed;
    bottom: 18px;
    width: 260px;
    margin: 0;
    padding: 12px;
    display: none;
}

.social-buttons { display: block; }
.social-buttons { display: block; }

.social-buttons a {
    color: rgb(134, 134, 134);
    font-size: 1.5em;
    margin: 0 7px;
    border-radius: 3px;
}
.social-buttons a:hover {
    font-size: 1.5em;
    background-color: rgb(65,65,65) ;
    color: rgb(109,198,97) ;
}
.page-title {
    font-family: 'Brutal Type', sans-serif;
    color:#787878 ;
    padding-left: 25px ;
    padding-top: 25px ;
}

#bottom {
    position: relative ;
    padding-top: 15px ;
    bottom: 100px ;
    left: 50% ;
  }

.about-photo{
    margin-top: 15px ;
    margin-bottom: 35px ;
    margin-left: 85px ;
    float: left ;
}

.about-description{
    margin-top: 185px ;
    margin-left: 500px ;
    margin-right: 100px ;
    font-size: 1.0em;
    padding: 0px;
}

a {
    color: rgb(109,198,97) ;
    font-size: 1em;
}

a:hover {
    color: rgb(169, 198, 97) ;
    font-size: 1em;
}

.post {
    float: left;
}
.permalink-page .post {
    width: 500px;
    max-width: 100%;
}
.permalink-page .post.page {
    width: 100%;
}

.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

.post-content {
    position: relative;
    background-color: #ffffff;
    padding-bottom: 0;
    margin: 20px;
    font-size: 1em;
    line-height: 140%;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.12);
}
.permalink-page .post-content {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
.post-inner {
    padding: 14px 18px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.permalink-page .post-inner {
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 0;
}

.post a, .post a:hover {
    color: #56BF4B;
    text-decoration: none;
}
.post-content a:hover {
    text-decoration: underline;
}
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    font-size: 1.28em;
    font-weight: 400;
    margin: 0.5em 0;
}
.post-inner h2 {
    color: #000000;
}
.post p {
    font-size: 1em;
    line-height: 150%;
}
.post ul {
    list-style-type: square;
    font-size: 1em;
    padding-left: 20px;
}
.post ol {
    font-size: 1em;
    padding-left: 20px;
}
.post blockquote {
    font-size: 1em;
    margin: 9px 0;
    padding: 0 9px;
    font-style: italic;
    border-left: 2px solid #000000;
}
.post figure {
    margin: 0;
}

.post-inner a {
    text-decoration: underline;
}
.post-inner a:hover {
    background-color: rgba(86,191,75,0.15);
}

.quote-text {
    font-family: Georgia, serif;
    font-weight: 400 !important;
    font-style: italic;
}

.post-content img {
    max-width: 100%;
    height: auto;
    cursor: zoom-in;
}

.photo-post-photo {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: zoom-in;
}
.photoset-content {
    cursor: zoom-in;
}

a.link-post-link, a.link-post-link:hover {
    color: #000000;
    text-decoration: none;
}
.link-excerpt {
    color: rgba(0,0,0,0.8);
}
a.link-post-link .fa {
    color: #56BF4B;
}

.video-content, .tmblr-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-content iframe, .tmblr-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.answer .question {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding: 9px 18px;
}

ul.chat {
    list-style-type: none;
    padding-left: 0;
}

.chat li {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.chat li:last-child {
    border-bottom: none;   
}

.chat .chat-label {
    font-weight: bold;
}

.clear {
    clear: both;
}

.post iframe, figure img {
    display: block;
    max-width: 100%;
}
figure img {
    height: auto;
}

.post-inner hr {
    clear: both;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

/* =Post Meta and Notes
-------------------------------------------------------------- */
.post-index-info {
    padding: 12px 20px;
    font-size: 0.9em;
}
.post-index-info a, .post-index-info span {
    color: rgba(0,0,0, 0.75);
}
.post-index-info a:hover {
    color: #000000;
    text-decoration: none;
}
.note-count {
    margin-left: 15px;
}
.post-meta-line {
    padding: 12px 20px;
    border-top: 1px solid rgba(0,0,0, 0.1);
}
.post-meta-line a, .post-meta-line a:hover {
    color: #56BF4B;
}
.tag {
    margin-right: 8px;
}
.tag:before {
    content: "#";
}
.post-meta {
    border-left: 1px solid rgba(0,0,0, 0.15);
}
.like-button-parent {
    display: inline-block !important;
    float: right;
}
.reblog-button {
    margin-right: 0.75em;
}
.like-button-parent {
    position: relative;
}
.like-button-parent .like_button {
    position: absolute;
    top: 0;
    opacity: 0;
}
.like-button-parent .like_button.liked + span {
    color: #d95e40;
}
.permalink-page .notes-list {
    width: 1100px;
    border-top: 1px solid rgba(0,0,0, 0.15);
}
ol.notes {
    list-style-type: none;
    padding-left: 0;
    -webkit-columns: 2 auto;
    -moz-columns: 2 auto;
    columns: 2 auto;
}
.notes .avatar {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline;
    border-radius: 16px;
    margin-right: 10px;
}
.note {
    padding: 4px;
}
.note:last-child {
    margin-bottom: 10px;
}

.note blockquote {
    border: 0;
    background: transparent;
    border-left: 2px solid #eee;
}
.note blockquote a {
    color: #000000;
    text-decoration: none;
}


/* =Pagination=
-------------------------------------------------------------- */
.pagination {
    clear: both;
    text-align: center;
    max-width: 100%;
    margin-left: 260px;
    padding: 20px;
    
}
.span33, .span50 {
    float: left;
    min-height: 1px;
    padding: 20px;
}
.span33 {
    width: 33%;
}
.span50 {
    width: 50%;
}
#previous, #next, .page-info {
    font-size: 1em;
    padding: 9px 18px;
    color: #000000;
    background-color: #ffffff;
    
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.12);
    
}
.permalink-page #previous, .permalink-page #next {
    padding: 0;
    box-shadow: none;
}
#previous .fa, #next .fa {
    color: #56BF4B;
}



/* =Misc styles=
-------------------------------------------------------------- */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.spinner {
    background: #111111;
    color: #ffffff;
    padding: 12px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    font-size: 1.2em;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.12);
    display: none;
}
.spinner .fa {
    margin-right: 10px;
}
.loading {
    display: block;
}

/* Keep reading link arrow */
a.read_more:after {
    content: " \2192";
}

/* Hide posts before they load */
.posts-hidden {
    opacity: 0.01;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

a img {
    border: 0;   
}

p.npf_quirky {
    font-size: 24px;
    line-height: 1.3em;
}
div.npf_row {
    max-width: 100%;
    height: auto !important;
    display: flex;
    margin: 0 !important;
}
div.npf_row figure.tmblr-full {
    flex: 1;
    justify-content: space-between;
    margin: 0;
}
div.npf_row figure.tmblr-full:first-child {
    padding-right: 2px;
}
.npf-link-block a {
    text-decoration: none !important;
}
.post-section figure video, .post-section figure audio {
    max-width: 100%;
}

.tmblr-attribution {
    font-size: 0.8em !important;
}

.font-sans-serif .post-meta-line b {
    font-weight: 500;
}

.tmblr-iframe-pushdown .sidebar {
    margin-top: 54px;
}


/* =Responsive styles=
-------------------------------------------------------------- */
@media screen and (min-width:1500px) {
    .index-page .post {
        width: 25%;
    }
}
@media screen and (min-width:2200px) {
    .index-page .post {
        width: 20%;
    }
}
@media screen and (max-width:1339px) {
    .permalink-page .posts-container {
        width: 500px;
    }
    .post-meta {
        border-top: 1px solid rgba(0,0,0, 0.15);
        border-left: 0;
    }
    ol.notes {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}
@media screen and (max-width:1151px) {
    .index-page .post {
        width: 50%;
    }
}
@media screen and (max-width:810px) {
    .index-page .post {
        width: 100%;
    }
    .permalink-page .post {
        width: 400px;
    }
    .permalink-page .posts-container {
        width: 400px;
    }
}
@media screen and (max-width:740px) {
    .index-page .post, .permalink-page .post {
        width: 100%;
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .social-buttons {
        background-color: transparent;
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 24px;
    }
    .posts-container {
        margin-left: 0;
    }
    .permalink-page .posts-container {
        width: 100%;
    }
    .permalink-page .main {
        width: 100%;
    }
    .pagination {
        margin-left: 0;
    }
    .span33, .span50 {
        padding: 10px;
    }
    .tmblr-iframe-pushdown .sidebar {
        margin-top: 0;
    }
}
@media screen and (max-width:420px) {
    .index-page .post-content {
        margin: 10px;
    }
    .permalink-page .main {
        padding: 20px;
    }
}

body.font-sans-serif .tmblr-lightbox .lightbox-caption {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: 500;
}
body.font-serif .tmblr-lightbox .lightbox-caption {
    font-family: Georgia, serif !important;
    font-weight: 400;
}
body.font-monospace .tmblr-lightbox .lightbox-caption {
    font-family: Consolas, Menlo, Monaco, monospace !important;
    font-weight: 400;
}
body.font-comic-sans .tmblr-lightbox .lightbox-caption {
    font-family: 'Comic Sans MS', 'Comic Sans', Chalkboard, sans-serif !important;
    font-weight: 400;
}

.tmblr-iframe--app-cta-button {
    display: none !important;
}

.photo-link[href=""] {
    display: none;
}

